
body{
    font-family: 'PT Sans', sans-serif;
}
h1{
    text-align: center;
    color: rgb(162, 127, 79);
}
.keyboard {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    user-select: none;
    transition: bottom 0.4s;
    background: rgba(0, 0, 0, 0);
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin:3px;
    background: linear-gradient(to bottom,rgb(27, 102, 131),rgb(31, 74, 91),rgb(22, 92, 126));
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 2px solid #5ca5b9;
    border-radius: 7px;
}
.keyboard__key--wide {
    width: 12%;
}
.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--active::after {
    background: #c6180b;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}
textarea{
    position:relative;
    top: 70px;
    width: 400px;
    background-color: #07556a;
    border: #07556a;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #ffffff;
}
body{
    background:rgba(0, 0, 0, .8) url("/static/bgimg.jpg");
    background-size:cover;
    background-blend-mode: darken;
}